body{
    font-family:Noto Sans sans-serif;
    font-size: 16px;
    line-height: 1;
}

a{
    text-decoration: none;
    color: #B2B2B2;
}

a:hover{
    text-decoration: none;
}

ol,ul,li{
    list-style: none;
}

body,p,ol,ul,li,a,h1,h2,h3,small,table,td,th,tr{
    margin: 0;
    padding: 0;
}

/* ===== ここまでリセットCSS ===== */
header{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #FCFCFC;
}

.header-container{
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo img{
    width: 38px;
    height: 24px;
    padding: 16px 0;
}

.header-nav{
    padding-top: 15px;
}

.header-nav ul{
    display: flex;
}

.header-nav li{
    margin: 0 26px;
}

.header-nav li:last-child{
    margin: 0 0 0 28px;
}

.header-nav a{
    font-size: 15px;
}

.active-page a{
    color: #3B3B3B;
}

/* ここまでヘッダー */
main{
    max-width: 1280px;
    margin: 0 auto;
    background-color: #FCFCFC;
}

.fv{
    height: 456px;
    background: url(../../img/recruit_top.png)no-repeat;
    background-size: 100%;
    margin-bottom: 160px;
    position: relative;
}

.sub-page-title{
    letter-spacing: 0.9px;
    font-size: 29px;
    font-weight: normal;
    position: absolute;
    top: 195px;
    left:228px;
}

.recruit-title{
    color: #918F89;
    letter-spacing: 1px;
}

/* ここまでfv */
.contents-wrap{
    width: 85%;
    margin: 0 auto;
    padding-bottom: 320px;
}

.recruit h2{
    text-align: center;
    font-size: 23px;
    font-weight: normal;
    letter-spacing: 2.3px;
    color: #3B3B3B;
    margin-bottom: 32px;
}

.recruit-info-table{
    width: 640px;
    height: 624px;
    color: #3B3B3B;
    font-family: "Noto Sans";
    color: #3B3B3B;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0;
    border: solid 1px #707070;
    border-radius: 4px;
    overflow: hidden;
}

.recruit-info-table th{
    width: 142px;
    font-size: 16px;
    font-weight: normal;
    background-color: #DCDBD9;
}

.recruit-info-table td{
    display: flex;
    flex-direction: column;
}

.recruit-info-table ul{
    margin-left: 48px;
}

.recruit-info-table li{
    font-size: 14px;
    margin-bottom: 8px;
}

.recruit-info-table li:last-child{
    margin-bottom: 16px;
}

.recruit-info-table li:last-child{
    margin-bottom: 16px;
}

.job-description li::before{
    content: "･";
    padding-right: 4px;
    padding-left: 3px;
}

/* 販売員部分 */
.salesperson-area{
    height: 287px;
}

.salesperson-area th{
    border-right: solid 1px #707070;
}

.salesperson-area th,.salesperson-area td{
    border-bottom: solid 1px #707070;
}

.salesperson-job-category{
    border-top: solid thin #707070;
    padding: 16px 0 11px 48px;
}

/* 家具職人部分 */
.furniture-maker-area{
    height: 336px;
}

.furniture-maker-area th{
    border-right: solid 1px #707070;
}

.furniture-maker-area ul{
    padding-bottom: 2px;
}

.furniture-maker-area ul:last-child{
    padding: 0;
}

.furniture-maker-category{
    border-top: solid thin #707070;
    padding: 15px 0 12px 48px;
}

.border-none{
    border: none;
}

footer{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #918F89;
    text-align: center;
    padding-bottom: 24px;
}

.footer-container{
    width: 65%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 120px;
}

.footer-logo{
    margin-bottom: 41px;
}

.footer-nav{
    width: 42%;
}

.footer-nav ul{
    display: flex;
    justify-content: space-between;
    padding-top: 4px;
}

.footer-nav a{
    color: #FFFFFF;
}

footer small{
    color: #FFFFFF;
    font-size: 11px;
    letter-spacing: 0.44px;
}

@media screen and (max-width:375px){
    header{
        background-color: #918F89;
    }

    
    .header-container{
        width: 100%;
        display: block;
    }

    .header-logo{
        text-align: center;
    }

    
    .header-logo img{
        width: 10.6%;
        height: 63.15%;
        padding: 4.57%;
    }

    .fv{
        height: 0;
        padding-top: 213.33%;
        background: url(../../img/recruit_top_sp.png)no-repeat;
        margin-bottom: 0;
    }

    
    .sub-page-title{
        color: #3B3B3B;
        font-size: 25px;
        width: 100%;
        top: 256px;
        left: 0;
        text-align: center;
    }

    .contents-wrap{
        width: 95%;
        padding-bottom: 256px;
    }

    .recruit-info-table{
        width: 344px;
        font-size: 15px;
    }
    
    .recruit-info-table th{
        width: 73px;
    }
    
    .recruit-info-table ul{
        margin-left: 23px;
    }
    
    .recruit-info-table li{
        font-size: 13px;
        margin-bottom: 9px;
    }

    /* 販売員部分 */
    .salesperson-job-category{
        padding: 16px 0 13px 23px;
    }
    
    /* 家具職人部分 */
    .furniture-maker-category{
        padding: 15px 0 12px 23px;
    }
    
    footer{
        padding-bottom: 24px;
    }

    .footer-container{
        width: 66%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding-top: 72px;
        margin-bottom: 82px;
    }

    .footer-logo{
        margin: 0 auto;
    }

    .footer-logo img{
        width: 52px;
    }

    .footer-nav{
        width: 42%;
    }

    .footer-nav ul{
        display: flex;
        justify-content: space-between;
    }
    .footer-nav a{
        color: #FFFFFF;
    }
    footer small{
        color: #FFFFFF;
        font-size: 10px;
        letter-spacing: 0.44px;
    }
    .pc-size{
        display: none;
    }
    .sp-size{
        display: block;
    }

}