body{
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1;
}

a{
    text-decoration: none;
    color: #B2B2B2;
}

a:hover{
    text-decoration: none;
}

ol,ul,li{
    list-style: none;
}
body,p,ol,ul,li,a,h1,h2,h3,small,table,td,th,tr{
    margin: 0;
    padding: 0;
}
/* ===== ここまでリセットCSS ===== */
header{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #FCFCFC;
}

.header-container{
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo img{
    width: 38px;
    height: 24px;
    padding: 16px 0;
}

.header-nav{
    padding-top: 15px;
}
.header-nav ul{
    display: flex;
}

.header-nav li{
    margin: 0 26px;
}

.header-nav li:last-child{
    margin: 0 0 0 28px;
}

.header-nav a{
    font-size: 15px;
}

.active-page a{
    color: #3B3B3B;
}

@media screen and (max-width:375px){
    header{
        background-color: #918F89;
        position: relative;
        z-index: 50;
    }
    
    .header-container{
        width: 100%;
        max-width: 375px;
        display: flex;
        padding:15px 0;
    }

    .header-logo{
        text-align: center;
    }
    
    .header-logo img{
        height: auto;
        padding: 0;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    /* ハンバーガーパクリ
    http://webcreatornote.blogspot.com/2018/06/css_29.html */
    .sp-hamburger,
    .sp-hamburger span {
        display: inline-block;
        transition: all .4s;
        box-sizing: border-box;
    }
    .sp-hamburger {
        width: 33px;
        height: 23px;
        position: relative;
        margin-right: 5px;
    }
    .sp-hamburger span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #fff;
        border-radius: 4px;
    }
    .sp-hamburger span:nth-of-type(1) {
        top: 0;
    }
    .sp-hamburger span:nth-of-type(2) {
        top: 10px;
    }
    .sp-hamburger span:nth-of-type(3) {
        bottom: 0;
    }
    /*click後のスタイル*/
    .sp-hamburger.active span:nth-of-type(1) {
        -webkit-transform: translateY(20px) rotate(-45deg);
        transform: translateY(10px) rotate(-45deg);
    }
    .sp-hamburger.active span:nth-of-type(2) {
        opacity: 0;
    }
    .sp-hamburger.active span:nth-of-type(3) {
        -webkit-transform: translateY(-20px) rotate(45deg);
        transform: translateY(-10px) rotate(45deg);
    }
    .sp-header-menu{
        position: absolute;
        z-index: 40;
        top: 0;
        width: 100%;
        height: 100%;
        background-color:#918F89;
        opacity: 0.9;
        display: none;
    }
    .sp-header-menu li{
        text-align: center;
        padding: 20px 0;
        border-bottom: solid 1px rgb(255, 255, 255,0.3);
        
    }

    .sp-header-menu a{
        color: #FCFCFC;
        opacity: none;
    }
}
/* ここまでヘッダー */

main{
    max-width: 1280px;
    margin: 0 auto;
    background-color: #FCFCFC;
}

.fv{
    height: 744px;
    background: url(../img/home_top.png)no-repeat;
    background-size: 100%;
    position: relative;
    margin-bottom: 80px;
}

.fv-title{
    background-color: #FFFFFF;
    letter-spacing: 0.9px;
    font-size: 53px;
    font-weight: normal;
    color: #918F89;
    text-align: right;
    padding: 41px 32px 41px 33px;
    width: 545px;
    opacity: 0.8;
    position: absolute;
    top: 274px;
    left: 0;
}

@media screen and (max-width:375px){
    .fv{
        height: 0;
        padding-top: 213.33%;
        background: url(../img/home_top_sp.png)no-repeat;
        background-size: 100% auto;
        margin-bottom: 0;
    }
    
    .fv-title{
        background-color: transparent;
        font-size: 39px;
        font-weight: normal;
        text-align: left;
        padding:0;
        width: 100%;
        top: 185px;
    }
    .fv-title span{
        background-color: rgb(255, 255, 255,0.7);
        margin-bottom: 16px;
        padding: 16px 16px 16px 54px;
        height: 48px;
        display: flex;
        align-items: flex-end;
        opacity: 1;
    }
    .fv-title-we{
        min-width: 66px;
        width: 17.6%;
    }
    .fv-title-propose{
        min-width: 170px;
        width: 45.33%;
    }
    .fv-title-life{
        min-width: 114px;
        width: 30.4%;
    }
}
/* ここまでfv */

.contents-wrap{
    width: 86%;
    margin: 0 auto;
}

.concept{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    color: #3B3B3B;
    margin-bottom: 240px;
}

.concept-text{
    margin-top: 162px;
    padding-right: 92px;
}
.concept-text h2{
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 63px;
    letter-spacing: 2.5px;
}

.concept-text p{
    font-size: 12px;
    line-height: 30px;
    letter-spacing: 0.7px;
}

.concept-img img{
    width: 560px;
    height: 560px;
}
@media screen and (max-width:375px){
    .contents-wrap{
        width: 90%;
    }
    
    .concept{
        display: block;
        color: #3B3B3B;
        margin-bottom: 240px;
    }
    
    .concept-text{
        margin:88px 0 24px;
        padding-right: 0;
        text-align: center;
    }
    .concept-text h2{
        font-size: 21px;
        margin-bottom: 32px;
    }
    
    .concept-text p{
        font-size: 14px;
    }
    
    .concept-img img{
        width: 100%;
        height: 80.4%;
    }
}
/* ここまで暮らし〜 */

.news-container{
    margin-bottom: 240px;
}

.news-container h2{
    text-align: center;
    color: #3B3B3B;
    font-size: 21px;
    font-weight: normal;
    margin-bottom: 48px;
    letter-spacing: 2.6px;
}

.news-img-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 39px;
}

.news-about{
    position: relative;
    z-index: 10;
}

.news-about-img img{
    width: 320px;
    height: 320px;
}

.news-about-shadow{
    background-color: #000000;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 20;
}

.news-about-text{
    font-size: 17px;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    letter-spacing: -0.7px;
}

.news-more{
    text-align: center;
    color: #3B3B3B;
    font-size: 18px;
    opacity: 0.7;
    letter-spacing: 0.9px;
}

.news-more::after{
    content: ">";
    padding-left: 7px;
    color: #3B3B3B;
    font-size: 16px;
    opacity: 0.3;
}

@media screen and (max-width:375px){
    .news-container{
        width: 85%;
        margin: 0 auto 248px;
    }
    
    .news-img-box{
        display: block;
    }
    
    .news-about{
        margin-bottom: 24px;
    }
    
    .news-about-img img{
        width: 100%;
        height: 100%;
    }

    .news-about-text{
        font-size: 15px;
    }

    .news-more{
        margin: 0 auto;
    }

    .news-more a{
        width: 55%;
        opacity: 1;
        color: #3B3B3B;
    }
    
    .news-more::after{
        font-size: 8px;
        opacity: 1;
    }
    
}
/* ここまでNEWS */

.catalog{
    text-align: center;
    color: #3B3B3B;
    margin-bottom: 240px;
}

.catalog h2{
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 48px;
    letter-spacing: 2.3px;
}

.catalog p{
    line-height: 2;
    margin-bottom: 40px;
    font-size: 15px;
    letter-spacing: 0.45px;
}

.catalog-download{
    margin: 0 auto;
    width: 344px;
    height: 56px;
    border-radius: 40px;
    background-color: #D1D1D1;
    position: relative;
}

.catalog-download a{
    width: 100%;
    letter-spacing: 1.8px;
    font-size: 18px;
    font-weight: 100;
    padding: 10px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #707070;
}

.catalog-download a:hover{
    border-radius: 40px;
    color: #FCFCFC;
    background-color: #B2B2B2;
}
@media screen and (max-width:375px){
    .catalog{
        width: 98%;
        margin: 0 auto 240px;
        text-align: center;
        color: #3B3B3B;
    }
    
    .catalog p{
        font-size: 14px;
    }
    
    .catalog-download{
        width: 86%;
        margin: 0 auto;
    }
}
/* ここまでカタログ */

.contact{
    text-align: center;
    margin-bottom: 240px;
}

.contact h2{
    margin-bottom: 47px;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 2.4px;
}

.contact-name input,
.contact-email input,
.contact-textarea textarea,
.contact-submit input{
    width: 454px;
    margin: 0 auto 24px;
    border-radius: 16px;
    text-decoration: none;
    border: 1px solid #707070;
    opacity: 0.6;
    letter-spacing: 0.6px;
}

form input::placeholder,
textarea::placeholder{
    color: #3B3B3B;
    font-size: 12px;
    font-family: "Noto Sans";
}

form input{
    padding: 10px 0 10px 16px;
}

textarea{
    height: 200px;
    padding: 10px 0 10px 16px;
    resize: none;
}

.contact-submit {
    margin: 0 auto;
    padding: 0;
    width: 161px;
    height: 32px;
    background: #D1D1D1;
    border-radius: 16px;
    border: none;
    color: #707070;
    opacity: 1;
    font-size: 14px;
    letter-spacing: 1.4px;
    position: relative;
}

.contact-submit:hover{
    border-radius: 40px;
    color: #FCFCFC;
    background-color: #B2B2B2;
}

.contact-submit span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-completed{
    background: #D1D1D1;
    border-radius: 16px;
    text-decoration: none;
    margin: 0 auto;
    width: 290px;
    height: 32px;
    transition: all 0.5s ease;
    transform: scale(1,1);
    padding: 0 30px;
    font-size: 14px;
    letter-spacing: 1.4px;
}

.btn-completed span{
    display: block;
    content: "TRANSMISSION COMPLETED";
    width: 240px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width:375px){
    .contact{
        width: 100%;
        margin: 0 auto 240px;
    }
    
    .contact h2{
        margin-bottom: 32px;
    }
    
    .contact-name input,
    .contact-email input,
    .contact-textarea textarea,
    .contact-submit input{
        width: 286px;
        margin: 0 auto 16px;
        border-radius: 11px;
    }
    
    form input::placeholder,
    textarea::placeholder{
        font-size: 14px;
    }

    textarea{
        height: 160px;
    }
    
    .sp-contact-submit {
        margin: 0 auto;
        width: 141px;
        height: 32px;
        background: #D1D1D1;
        border-radius: 16px;
        border: none;
        color: #707070;
        opacity: 1;
        font-size: 14px;
        letter-spacing: 1.4px;
        position: relative;
    }

    .sp-contact-submit:hover{
        border-radius: 40px;
        color: #FCFCFC;
        background-color: #B2B2B2;
    }

    .sp-contact-submit span{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .sp-btn-completed{
        background: #D1D1D1;
        border-radius: 16px;
        margin: 0 auto;
        width: 270px;
        height: 32px;
        transition: all 0.5s ease;
        transform: scale(1,1);
        font-size: 12px;
        letter-spacing: 1.4px;
    }

    .sp-btn-completed span{
        display: block;
        content: "TRANSMISSION COMPLETED";
        width: 240px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
/* form部分 */

.recruit{
    text-align: center;
    padding-bottom: 320px;
}

.recruit h2{
    font-size: 24px;
    color: #3B3B3B;
    font-weight: normal;
    margin-bottom: 48px;
    letter-spacing: 2.4px;
}

.recruit p{
    font-size: 15px;
    line-height: 2;
    color: #3B3B3B;
    letter-spacing: 0.45px;
    margin-bottom: 32px;
}

.recruit-more{
    text-align: center;
    color: #3B3B3B;
    font-size: 18px;
    opacity: 0.7;
    letter-spacing: 0.9px;
}

.recruit-more::after{
    content: ">";
    padding-left: 7px;
    color: #3B3B3B;
    font-size: 16px;
    opacity: 0.3;
}
@media screen and (max-width:375px){
    .recruit{
        padding-bottom: 240px;
    }
    
    .recruit h2{
        margin-bottom: 32px;
    }
    
    .recruit p{
        margin-bottom: 24px;
    }

    .recruit-more a{
        opacity: 1;
        color: #3B3B3B;
        width: 55%;
    }
    
    .recruit-more::after{
        opacity: 1;
    }
}
/* ここまでRECRUIT */

footer{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #918F89;
    text-align: center;
    padding-bottom: 24px;
}

.footer-container{
    width: 66%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 120px;
}

.footer-logo{
    margin-bottom: 41px;
}

.footer-nav{
    width: 42%;
}
.footer-nav ul{
    display: flex;
    justify-content: space-between;
}

.footer-nav a{
    color: #FFFFFF;
}

footer small{
    color: #FFFFFF;
    font-size: 11px;
    letter-spacing: 0.44px;
}

.sp-size{
    display: none;
}

@media screen and (max-width:375px){
    footer{
        padding-bottom: 24px;
    }
    
    .footer-container{
        width: 66%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding-top: 72px;
        margin-bottom: 82px;
    }
    
    .footer-logo{
        margin: 0 auto;
    }

    .footer-logo img{
        width: 52px;
    }
    
    .footer-nav{
        width: 42%;
    }
    .footer-nav ul{
        display: flex;
        justify-content: space-between;
    }
    
    .footer-nav a{
        color: #FFFFFF;
    }
    
    footer small{
        color: #FFFFFF;
        font-size: 10px;
        letter-spacing: 0.44px;
    }
    .pc-size{
        display: none;
    }
    .sp-size{
        display: block;
    }
}

