body{
    font-family:sans-serif;
    font-size: 16px;
    line-height: 1;
}

a{
    text-decoration: none;
    color: #B2B2B2;
}

a:hover{
    text-decoration: none;
}

ol,ul,li{
    list-style: none;
}
body,p,ol,ul,li,a,h1,h2,h3,small,table,td,th,tr{
    margin: 0;
    padding: 0;
}
/* ===== ここまでリセットCSS ===== */
header{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #FCFCFC;
}

.header-container{
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo img{
    width: 38px;
    height: 24px;
    padding: 16px 0;
}

.header-nav{
    padding-top: 10px;
}
.header-nav ul{
    display: flex;
}

.header-nav li{
    margin: 0 28px;
}

.on a{
    color: #3B3B3B;
}
/* ここまでヘッダー */

main{
    max-width: 1280px;
    margin: 0 auto;
    background-color: #FCFCFC;
}

.fv{
    height: 744px;
    background: url(../img/home_top.png)no-repeat;
    background-size: 100%;
    position: relative;
    margin-bottom: 80px;
}

.fv-title{
    background-color: #FFFFFF;
    letter-spacing: 1px;
    font-size: 53px;
    font-weight: normal;
    color: #918F89;
    text-align: right;
    padding: 32px;
    width: 545px;
    opacity: 0.8;
    position: absolute;
    top: 274px;
    left: 0;
}
/* ここまでfv */

.contents-wrap{
    width: 85%;
    margin: 0 auto;
}

.concept{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    color: #3B3B3B;
    margin-bottom: 240px;
}

.concept-text{
    margin-top: 180px;
    padding-right: 100px;
}
.concept-text h2{
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 71px;
}

.concept-text p{
    font-size: 12px;
    line-height: 30px;
}

.concept-img img{
    width: 560px;
    height: 560px;
}
/* ここまで暮らし〜 */

.news-container{
    margin-bottom: 240px;
}

.news-container h2{
    text-align: center;
    color: #3B3B3B;
    font-size: 23px;
    font-weight: normal;
    margin-bottom: 48px;
}

.news-img-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 39px;
}

.news-about{
    position: relative;
    z-index: 10;
}

.news-about-img img{
    width: 320px;
    height: 320px;
}

.news-about-shadow{
    background-color: #000000;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 20;
}

.news-about-text{
    font-size: 14px;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    letter-spacing: -0.7px;
}

.news-more{
    text-align: center;
    color: #3B3B3B;
    font-size: 18px;
    opacity: 0.7;
}

.news-more::after{
    content: ">";
    padding-left: 7px;
    color: #3B3B3B;
    font-size: 16px;
    opacity: 0.3;
}
/* ここまでNEWS */

.catalog{
    text-align: center;
    color: #3B3B3B;
}

.catalog h2{
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 48px;
}

.catalog p{
    line-height: 2;
    margin-bottom: 40px;
    font-size: 15px;
    letter-spacing: 0.45px;
}

.catalog-download{
    margin: 0 auto;
    width: 344px;
    height: 56px;
    border-radius: 40px;
    background-color: #D1D1D1;
    position: relative;
}

.catalog-download a{
    width: 100%;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #707070;
}
/* ここまでカタログ */